body {
	background: url("../images/bg.jpg") no-repeat left 30%;
	background-size: cover;
}

.footer {
	&__notice {
		position: absolute;
		bottom: 10px;
		right: 10px;
		a {
			color: #000;
		}
	}
}