//Fonts
$font-size-sm:                18px;


//Colors
$orange:                      #f25f34;
$gray:                        #828282;
$gray-light:                  #dcdcdc;
$teal:                        #0ea0d6;
$brand-warning:               $orange;
$brand-info:                  $teal;
$modal-text-color:            $gray;


//input
$input-border-color:         $gray-light;

	//Tooltip
$tooltip-bg:                  #424242;
$tooltip-arrow-color:         #424242;
$tooltip-arrow-width:         7px;


//Progressbar
$progress-bar-bg:             $brand-warning;
$progress-border-radius:      0;

//Buttons
$btn-secondary-border:           $gray;